body, html {
  position: relative;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #c26649), color-stop(100%, #6b220b));
  background: -webkit-radial-gradient(center, ellipse cover, #c26649 0%, #6b220b 100%);
  background: -moz-radial-gradient(center, ellipse cover, #c26649 0%, #6b220b 100%);
  background: radial-gradient(center, ellipse cover, #c26649 0%, #6b220b 100%);
  text-align: center;
  vertical-align: middle;
  height: 100%;
  overflow: hidden;
}

/* center the div */
.aligned-center {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Pitch */
.pitch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  height: 100%;
  margin: 10px auto;
  padding: 0 0 60% 0;
  background: green;
}

/* white paintings */
.interior{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 94%;
  height: 90%;
  margin: auto;
  border: 2px solid #eee;
}

/* Area penalty */
.interior:before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  margin: 0 0 0 0;
  display: block;
  width: 60%;
  height: 20%;
  background: green;
  border: 2px solid #eee;
}

/* Punto penalty */
.semi1:before, .semi2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12%;
  display: block;
  width: 1%;
  height: 1.5%;
  margin: -.75% 0 0 0;
  background: #eee;
  border-radius: 50%;
  z-index: 2;
}
.semi2:before {
  left: auto;
  right: 12%;
}
/* Semicirculos porterias */
.semi1:after, .semi2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 16%;
  height: 0;
  margin: -8% 0 0 0;
  padding-bottom: 16%;
  border: 2px solid #eee;
  border-radius: 50%;
}
.semi2:after {
  left: auto;
  right: 5%;
}

#keizerball {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:99;
}
#scoreboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: 'Staatliches', cursive;
}